.image-gallery-container {
    padding: 20px;
  }
  
  .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }
  
  .gallery-image:hover {
    border-color: #aaa;
  }

  .buttons-container {
    margin-bottom: 20px; /* Add some space between buttons and image container */
    display: flex; /* Set the display to flex */
    justify-content: flex-end; /* Align buttons to the right */
  }
  
  .buttons-container button:hover {
    background-color: #45a049; /* Darker green background color on hover */
  }
  
  .buttons-container button {
    padding: 10px 20px; /* Add padding to make buttons larger */
    margin-left: 10px; /* Add margin between buttons */
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.3s; /* Smooth transition on hover */
  }
  .file-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .file-container > div {
    margin: 10px;
    text-align: center;
  }
  
  .file-container img {
    width: 100px; /* Adjust the size of the file icons as needed */
    height: 100px; /* Adjust the size of the file icons as needed */
  }