/* Navbar Styles */
nav {
    background: rgb(118, 117, 204);
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#serviceList {
    display: flex;
    align-items: center;
    justify-content: center;
}

#serviceList li {
    position: relative;
}

#serviceList li a {
    text-decoration: none;
    color: rgb(62, 56, 232);
    font-weight: 600;
    padding: 0 20px;
    font-size: 1.1rem;
    transition: 0.3s ease-in-out;
}

#serviceList li:hover ul {
    display: block;
}

#serviceList ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(116, 124, 186);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
}

#serviceList ul li {
    padding: 10px;
}

#serviceList ul li a {
    color: #333;
    text-decoration: none;
}

#serviceList ul li a:hover {
    background-color: #88f16e;
}

#serviceList li a:hover,
#serviceList li a.active {
    color: rgb(32, 20, 16);
}

#profileTag {
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 20px;
    color: rgb(62, 56, 232);
    transition: 0.3s ease-in-out;
}

#profileTag:hover {
    color: rgb(49, 43, 41);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

/* Dialog Box Styles */
.dialogBox {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px;
    background-color: #acaed1;
    border: 2px solid #332424;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.image-container {
    position: relative;
    top: 70px; /* Adjust as needed based on the navbar height */
    width: 100%;
    height: calc(100vh - 70px); /* Adjust as needed based on the navbar height */
}

.image-slider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#welcomeMessage {
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
