.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .container input {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .container button {
    width: 100%;
    padding: 10px;
    background-color: #8f14ed;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .container button:hover {
    background-color: #d374ea;
  }
  
  .container p {
    margin-top: 10px;
    color: #ff0000;
  }
  
  .container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .container a:hover {
    text-decoration: underline;
  }
  